<div class="main-panel">
    <div class="content" style="background-color:#DAEBEB;">
        <div class="container-fluid">
            <div class="row">
               
               
            </div>
            <div class="form-container">
            <!--<div class="col-lg-12 permission-heading"><h4>Exact Response</h4></div>-->
                
            <div class="form-section">
    <div class="row exact-interview">
            <div class="col-lg-6">
                <div class="form-group">
                
                 <label for="">Why are you leaving your job?</label>
           <div class="exact-section">
                    
            <ul>
               <li>Type of work</li>
                <li>Rate of pay</li>
                <li>Relocation</li>
               
               
               </ul>		
                    
                    
                    </div>
                
                
                </div>
                </div>	
                <div class="col-lg-6">
                <div class="form-group">
                
                 <label for="">Why are you leaving your job?</label>
           <div class="exact-section">
            <p>It is a long established fact that a reader will be distracted by the readable
content of a page when looking at its layout. The point of using Lorem 
Ipsum is that it has a more-or-less normal distribution</p>
                    
                    
                    </div>
                
                
                </div>
                </div>
                </div>
                
            
                
                
                <div class="col-lg-12 permission-heading"><h4>Please rate the following in relation to your position</h4></div>
                    
                <div class="col-lg-6">
                <div class="form-group">
              <label for="">Cooperation within your dept.</label>
            <div class="rate">
                
<input type="radio" id="star5" name="rate" value="5" />
<label for="star5" title="text">5 stars</label>
<input type="radio" id="star4" name="rate" value="4" />
<label for="star4" title="text">4 stars</label>
<input type="radio" id="star3" name="rate" value="3" />
<label for="star3" title="text">3 stars</label>
<input type="radio" id="star2" name="rate" value="2" />
<label for="star2" title="text">2 stars</label>
<input type="radio" id="star1" name="rate" value="1" />
<label for="star1" title="text">1 star</label>
</div>
        </div>
                </div>
                <div class="col-lg-6">
                <div class="form-group">
              <label for="">Cooperation within your dept.</label>
            <div class="rate">
                
<input type="radio" id="star6" name="rate" value="5" />
<label for="star6" title="text">5 stars</label>
<input type="radio" id="star7" name="rate" value="4" />
<label for="star7" title="text">4 stars</label>
<input type="radio" id="star8" name="rate" value="3" />
<label for="star8" title="text">3 stars</label>
<input type="radio" id="star9" name="rate" value="2" />
<label for="star9" title="text">2 stars</label>
<input type="radio" id="star10" name="rate" value="1" />
<label for="star10" title="text">1 star</label>
</div>
        </div>
                </div>
                
                
    <div class="col-lg-6">
                <div class="form-group">
              <label for="">Communications within the Company overall</label>
            <div class="rate">
                
<input type="radio" id="star11" name="rate" value="5" />
<label for="star11" title="text">5 stars</label>
<input type="radio" id="star12" name="rate" value="4" />
<label for="star12" title="text">4 stars</label>
<input type="radio" id="star13" name="rate" value="3" />
<label for="star13" title="text">3 stars</label>
<input type="radio" id="star14" name="rate" value="2" />
<label for="star14" title="text">2 stars</label>
<input type="radio" id="star15" name="rate" value="1" />
<label for="star15" title="text">1 star</label>
</div>
        </div>
                </div>
                
                <div class="col-lg-6">
                <div class="form-group">
              <label for="">Communcation with you and your manager</label>
            <div class="rate">
                
<input type="radio" id="star16" name="rate" value="5" />
<label for="star16" title="text">5 stars</label>
<input type="radio" id="star17" name="rate" value="4" />
<label for="star17" title="text">4 stars</label>
<input type="radio" id="star18" name="rate" value="3" />
<label for="star18" title="text">3 stars</label>
<input type="radio" id="star19" name="rate" value="2" />
<label for="star19" title="text">2 stars</label>
<input type="radio" id="star20" name="rate" value="1" />
<label for="star20" title="text">1 star</label>
</div>
        </div>
                </div>
                            
            
                </div>
        
        </div>
            
            
    </div>
    
</div>
</div>