<div class="main-panel">

  <div class="content" style="background-color:#DAEBEB;">
    <div class="container-fluid">
      <div class="row">

        <div class="col-md-4">
          <div class="search-form">
            <i class="fa fa-search"></i>
            <input type="text" class="form-control" placeholder="Search by name" [(ngModel)]="searchText">
          </div>
        </div>

        <div class="col-md-2  pull-right"><input type="submit" value="Create Task" (click)="createTask()"
            class="team btn btn-primary"></div>
        <div class="col-md-2 pull-right">
          <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" id="dropdownMenuButton" type="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">Filter by Status<b class="caret"></b></button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" (click)="taskStatusFilter='Created'" href="javascript:void(0);">Created</a><br>
              <a class="dropdown-item" (click)="taskStatusFilter='In Progress'" href="javascript:void(0);">In Progress</a><br>
              <a class="dropdown-item" (click)="taskStatusFilter='Due'" href="javascript:void(0);">Due</a><br>
              <a class="dropdown-item" (click)="taskStatusFilter='Completed'" href="javascript:void(0);">Completed</a>
            </div>

          </div>

        </div>
      </div>
      <div class="col-md-12">
        <div class="emlist">

          <ul class="team-member team-listvew">
            <li class="mytask-heading">
              <ul>
                <li>
                  Task Name
                </li>
                <li>Priority</li>
                <li>Status</li>
                <li>Created Date</li>
                <li>Assigned To</li>
                <li>Actions </li>
              </ul>
            </li>
            <ul *ngFor="let team of SearchResults">
              <li>{{team.teamName}}</li>
              <li *ngFor="let task of team.teamTaskList|dataFilter:'employeeTaskStatus':taskStatusFilter|dataFilter:'taskName':searchText">
                <ul>
                  <li>{{task.taskName}}</li>
                  <li><span class="prioritybox"
                      [ngClass]="{'completedcolor':task.employeeTaskStatus=='Completed',
                    'yellowcolor':task.employeeTaskStatus!='Completed' && task.taskPriority=='Low',
                    'purplecolor':task.employeeTaskStatus!='Completed' && task.taskPriority=='Medium',
                    'redcolor':task.employeeTaskStatus!='Completed' && task.taskPriority=='High'}">{{task.taskPriority}}</span></li>
                  <li><span class="statusbox" [ngClass]="{
                    'redcolor':task.employeeTaskStatus=='Delayed',
                    'greencolor':task.employeeTaskStatus=='Completed',
                    'purplecolor':task.employeeTaskStatus=='In Progress'}">{{task.employeeTaskStatus}}</span></li>
                  <li>{{task.taskCreatedDate}}</li>
                  <li>{{task.employeeFName+' '+task.employeeMName}}</li>
                  <li>
                    <i class="icon-View" (click)="viewIconClicked(task)"></i>
                    <i class="icon-Delete" (click)="DeleteAssignedTaskIcon(task)"></i>
                  </li>
                </ul>
              </li>
            </ul>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="slide-popup" id="add-team-task">
  <div class="slide-close">
    <i class="fa fa-angle-left" aria-hidden="true"></i>
  </div>
  <div class="slide-content" *ngIf="createTaskForm!=null">
    <h3>Create Task</h3>
    <form [formGroup]="createTaskForm">
      <div class="form-group">
        <label for="">Select Project</label>
        <select class="form-control" formControlName="projectId">
          <option value=-1 selected>Select Project</option>
          <option *ngFor="let project of ProjectsList" value="{{project.projectId}}">
            {{project.projectName}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="">Task title</label>
        <input type="text" class="form-control" placeholder="Enter task title here" formControlName="taskHeading">
        <span class="error"
          *ngIf="!createTaskForm.controls['taskHeading'].valid&&(createTaskForm.controls['taskHeading'].dirty|| createTaskForm.controls['taskHeading'].touched)"><i
            class="fa fa-exclamation-triangle" aria-hidden="true"></i>Please provide Task Heading </span>
      </div>
      <div class="form-group">
        <label for="">Task Description</label>
        <textarea Class="form-control" rows="4" cols="50" formControlName="taskDescription"
          placeholder="Enter Task details here"></textarea>
        <span class="error"
          *ngIf="!createTaskForm.controls['taskDescription'].valid&&(createTaskForm.controls['taskDescription'].dirty|| createTaskForm.controls['taskDescription'].touched)"><i
            class="fa fa-exclamation-triangle" aria-hidden="true"></i>Please provide Task description</span>
      </div>
      <div class="form-group">
        <label for="">Select Priority</label>
        <select name="" id="" class="form-control" formControlName="taskPriority">
          <option value="" selected>Select Priority</option>
          <option value="Low">Low</option>
          <option value="Medium">Medium</option>
          <option value="High">High</option>

        </select>
      </div>
      <div class="form-group">
        <label for="">Select Status</label>
        <select name="" id="" class="form-control" formControlName="taskStatus">
          <option value="" selected>Select Status</option>
          <option value="Created">Created</option>
          <option value="In Progress">In Progress</option>
          <option value="Pending">Pending</option>
          <option value="Completed">Completed</option>
        </select>
      </div>
      <div class="selectwith-button removepad">
        <div class="form-group">
          <label for="">Assign Task To</label>
          <select class="form-control" formControlName="assignedToId">
            <option value="">Select Employee</option>
            <option *ngFor="let employee of EmployeeList" value="{{ employee.employeeId }}">
              {{ employee.employeeFname+" "+employee.employeeMname}}</option>
          </select>
          <button class="btn btn-primary" (click)="AddMemberToTaskList(createTaskForm.get('assignedToId').value)">
            ADD
          </button>
        </div>
      </div>
      <div class="form-group">
        <ul class="selected-user">
          <li *ngFor="let member of TaskMemberList"><span class="user-thumb"></span>
            <p>{{member.employeeFname}} {{member.employeeMname}}</p><i class="fa fa-times"
              (click)="RemoveMemberFromTaskList(member)"></i>
          </li>
        </ul>
      </div>
      <div class="form-group">
        <label for="">Upload file</label>
        <div class="file-upload">
          <input type="text" class="form-control" readonly placeholder="File details here"
            formControlName="taskAttachment">
          <div class="input-group-btn">
            <span class="file-upload btn btn-success">
              <span class="upl" id="upload">upload</span>
              <input type="file" class="upload up" id="up" />
            </span><!-- btn-orange -->
          </div><!-- btn -->
        </div><!-- group -->
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-md-5">
            <label for="">Date</label>
            <input type="date" class="form-control" formControlName="taskStartDate">
            <span class="error"
              *ngIf="!createTaskForm.controls['taskStartDate'].valid&&(createTaskForm.controls['taskStartDate'].dirty|| createTaskForm.controls['taskStartDate'].touched)"><i
                class="fa fa-exclamation-triangle" aria-hidden="true"></i>Please select start date</span>

          </div>
          <div class="col-md-2 text-center">
            <span class="to-padding">to</span>
          </div>
          <div class="col-md-5">
            <label for="">Due Date</label>
            <input type="date" class="form-control" formControlName="taskDueDate">
            <span class="error"
              *ngIf="!createTaskForm.controls['taskDueDate'].valid&&(createTaskForm.controls['taskDueDate'].dirty|| createTaskForm.controls['taskDueDate'].touched)"><i
                class="fa fa-exclamation-triangle" aria-hidden="true"></i>Please select due date</span>

          </div>
        </div>
      </div>
      <input type="button" value="Cancel" class="btn btn-primary" (click)="CancelButtonClick()">

      <input type="submit" value="CREATE TASK" class="team btn btn-primary"
        (click)="createTaskSave(createTaskForm.value)" [disabled]="!createTaskForm.valid">
    </form>
  </div>
</div>
<div class="slide-popup" id="edit-team-task">
  <div class="slide-close">
    <i class="fa fa-angle-left" aria-hidden="true"></i>
  </div>
  <div class="slide-content" *ngIf="EditTaskForm!=null">
    <h3>Edit Task</h3>
    <form [formGroup]="EditTaskForm">
      <div class="form-group">
        <label for="">Select Project</label>
        <select class="form-control" formControlName="projectId">
          <option *ngFor="let project of ProjectsList" value="{{project.projectId}}">
            {{project.projectName}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="">Task title</label>
        <input type="text" class="form-control" placeholder="Enter task title here" formControlName="taskHeading">
        <span class="error"
          *ngIf="!EditTaskForm.controls['taskHeading'].valid&&(EditTaskForm.controls['taskHeading'].dirty|| EditTaskForm.controls['taskHeading'].touched)"><i
            class="fa fa-exclamation-triangle" aria-hidden="true"></i>Please provide Task Heading</span>

      </div>
      <div class="form-group">
        <label for="">Task Description</label>
        <textarea Class="form-control" rows="4" cols="50" formControlName="taskDescription"
          placeholder="Enter Task details here"></textarea>
        <span class="error"
          *ngIf="!EditTaskForm.controls['taskDescription'].valid&&(EditTaskForm.controls['taskDescription'].dirty|| EditTaskForm.controls['taskDescription'].touched)"><i
            class="fa fa-exclamation-triangle" aria-hidden="true"></i>Please provide Task description</span>

      </div>
      <div class="form-group">
        <label for="">Select Priority</label>
        <select name="" id="" class="form-control" formControlName="taskPriority">
          <option value="Low">Low</option>
          <option value="Medium">Medium</option>
          <option value="High">High</option>

        </select>
      </div>
      <div class="selectwith-button removepad">
        <div class="form-group">
          <label for="">Assign Task To</label>
          <select name="" id="" class="form-control" formControlName="paramId">
            <option value="">Select Employee</option>
            <!--<option *ngFor="let parameter of ParametersList" value="{{ parameter.paramId }}">
						{{ parameter.description }}</option>-->
            <!--was creating error-->
          </select>
          <button class="btn btn-primary">
            ADD
          </button>
        </div>
      </div>
      <div class="form-group">
        <ul class="selected-user">
          <li>
            <span class="user-thumb"></span>
            <p></p>
            <i class="fa fa-times"></i>
          </li>
        </ul>
      </div>
      <div class="form-group">
        <label for="">Upload file</label>
        <div class="file-upload">
          <input type="text" class="form-control" readonly placeholder="File details here"
            formControlName="taskAttachment">
          <div class="input-group-btn">
            <span class="file-upload btn btn-success">
              <span class="upl" id="upload">upload</span>
              <input type="file" class="upload up" id="up" />
            </span><!-- btn-orange -->
          </div><!-- btn -->
        </div><!-- group -->
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-md-5">
            <label for="">Date</label>
            <input type="date" class="form-control" formControlName="taskStartDate">

          </div>
          <div class="col-md-2 text-center">
            <span class="to-padding">to</span>
          </div>
          <div class="col-md-5">
            <label for="">Due Date</label>
            <input type="date" class="form-control" formControlName="taskDueDate">
          </div>
        </div>
      </div>
      <input type="button" value="Cancel" class="btn btn-primary" (click)="CancelButtonClick()">

      <input type="submit" value="EDIT TASK" class="team btn btn-primary"
        (click)="editSaveButtonClicked(EditTaskForm.value)">
    </form>
  </div>
</div>
<div class="slide-popup" id="team-task-description">

    <div class="slide-close">
      <i class="fa fa-angle-left" aria-hidden="true"></i>
    </div>
    <div *ngIf="ViewTasks">
    <div class="slide-content">
      <h3>Task Description</h3>
      <p><strong>{{ViewTasks.taskName}}</strong>
      </p>
      <span class="color-red"><i class="fa fa-clock-o"></i>Due: {{ ViewTasks.taskDueDate}}</span>
      <h4><i class="icon-comment"></i>Description</h4>
      <p>{{ViewTasks.taskDescription}}</p>
      <h4><i class="icon-attachment"></i> Attachment</h4>
      <div class="attachment">
        <img src="assets/img/img.png" alt="">
        <span>{{ViewTasks.taskAttachment}}</span>
      </div>
    </div>
    <hr>
    <div class="slide-content" *ngIf="ViewTasks.comment">
      <div class="comment-item">
        <div class="pro-thumb" style="background-image: url('assets/img/face-3.jpg');"></div>
        <h5>{{ViewTasks.employeeFName+" "+ViewTasks.employeeMName}}</h5>
        <p>{{ViewTasks.comment}}</p>
        <a href="#" class="reply">reply</a>
        <input type="text" class="form-control" placeholder="Write a comment" [(ngModel)]="ViewTasks.reply">
        <input type="button" value="SAVE"  (click)="SaveReply(ViewTasks)" class="btn btn-primary">
      </div>
    </div>
  </div>
</div>
