<div class="main-panel">
  <div class="content" style="background-color:#DAEBEB;">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#feedback-request">My Task</a></li>
            <li><a data-toggle="tab" href="#my-feedback" (click)="GetTasksAssignedToMe()">My Assigned Task</a></li>
          </ul>
          <div class="tab-content">
            <div id="feedback-request" class="tab-pane fade in active">
              <div class="table-full-width">
                <div class="content" style="background-color:#DAEBEB;">
                  <div class="container-fluid">
                    <div class="row">
                      <div class="col-md-4">
                        <div class="search-form">
                          <i class="fa fa-search"></i>
                          <input type="text" class="form-control" placeholder="Search by name"
                            (input)="FilterData($event,'created')">
                        </div>
                      </div>
                      <div class="col-md-2  pull-right">
                        <input type="submit" value="Create Task" (click)="createTask()" class="team btn btn-primary">
                      </div>
                      <div class="col-md-2 pull-right">
                        <div class="dropdown">
                          <button class="btn btn-primary dropdown-toggle" id="dropdownMenuButton" type="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Filter by Priority<b
                              class="caret"></b></button>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="javascript:void(0);"
                              (click)="priorityfilter='Low'">Low</a><br />
                            <a class="dropdown-item" href="javascript:void(0);"
                              (click)="priorityfilter='Medium'">Medium</a><br />
                            <a class="dropdown-item" href="javascript:void(0);" (click)="priorityfilter='High'">High</a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="emlist">
                      <ul class="team-member team-listvew">
                        <li class="mytask-heading">
                          <ul>
                            <li>Task Name</li>
                            <li>Priority</li>
                            <li>Status</li>
                            <li>Created Date</li>
                            <li>Actions </li>
                          </ul>
                        </li>
                        <li class="mytask-heading list-content"
                          *ngFor="let data of SearchResults | dataFilter:'taskPriority':priorityfilter">
                          <ul>
                            <li>{{data.taskHeading}}</li>
                            <li><span class="prioritybox"
                                [ngClass]="{'completedcolor':data.taskStatus=='Completed',
                          'yellowcolor':data.taskStatus!='Completed' && data.taskPriority=='Low',
                          'purplecolor':data.taskStatus!='Completed' && data.taskPriority=='Medium',
                          'redcolor':data.taskStatus!='Completed' && data.taskPriority=='High'}">{{data.taskPriority}}</span></li>
                            <li class="statusbox" [ngClass]="{
                              'redcolor':data.taskStatus=='Delayed',
                              'greencolor':data.taskStatus=='Completed',
                              'purplecolor':data.taskStatus=='In Progress'}">{{data.taskStatus}}</li>
                            <li>{{data.taskCreatedDate}}</li>
                            <li>
                              <i class="icon-View"
                                *ngIf="userservice.CheckPermission(userservice.Elements.Task,userservice.Operations.View)"
                                (click)="viewIconClicked(data.taskId)"></i>
                              <i class="icon-edit"
                                *ngIf="userservice.CheckPermission(userservice.Elements.Task,userservice.Operations.Edit)"
                                (click)="editIconClicked(data)"></i>
                              <i class="icon-Delete"
                                *ngIf="userservice.CheckPermission(userservice.Elements.Task,userservice.Operations.Delete)"
                                (click)="DeleteTeamIcon(data)"></i>
                            </li>
                          </ul>

                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div id="my-feedback" class="tab-pane fade">
              <div class="table-full-width">
                <div id="feedback-request" class="tab-pane fade in active">
                  <div class="table-full-width">
                    <div class="content" style="background-color:#DAEBEB;">
                      <div class="container-fluid">
                        <div class="row">
                          <div class="col-md-4">
                            <div class="search-form">
                              <i class="fa fa-search"></i>
                              <input type="text" class="form-control" placeholder="Search by name"
                                (input)="FilterData($event,'assigned')">
                            </div>
                          </div>
                          <div class="col-md-2  pull-right"><input type="submit" value="Create Task"
                              (click)="createTask()" class="team btn btn-primary"></div>
                          <div class="col-md-2 pull-right">
                            <div class="dropdown">
                              <button class="btn btn-primary dropdown-toggle" id="dropdownMenuButton" type="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Filter by
                                Priority<b class="caret"></b></button>
                              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="javascript:void(0);"
                                  (click)="priorityfilter='Low'">Low</a><br />
                                <a class="dropdown-item" href="javascript:void(0);"
                                  (click)="priorityfilter='Medium'">Medium</a><br />
                                <a class="dropdown-item" href="javascript:void(0);"
                                  (click)="priorityfilter='High'">High</a>
                              </div>

                            </div>

                          </div>
                        </div>
                        <div class="emlist">
                          <ul class="team-member team-listvew">
                            <li class="mytask-heading">
                              <ul>
                                <li>
                                  Task Name
                                </li>
                                <li>Priority</li>
                                <li>Status</li>
                                <li>Created Date</li>
                                <li>Actions </li>
                              </ul>
                            </li>

                            <li class="mytask-heading list-content"
                              *ngFor="let data of SearchResultsAssignedToMe | dataFilter:'taskPriority':priorityfilter">
                              <ul>
                                <li>{{data.taskHeading}}</li>
                                <li><span class="prioritybox"
                                    [ngClass]="{'completedcolor':data.employeeTaskStatus=='Completed',
                                  'yellowcolor':data.employeeTaskStatus!='Completed' && data.taskPriority=='Low',
                                  'purplecolor':data.employeeTaskStatus!='Completed' && data.taskPriority=='Medium',
                                  'redcolor':data.employeeTaskStatus!='Completed' && data.taskPriority=='High'}">{{data.taskPriority}}</span>
                                </li>
                                <li class="statusbox" [ngClass]="{
                                      'redcolor':data.employeeTaskStatus=='Delayed',
                                      'greencolor':data.employeeTaskStatus=='Completed',
                                      'purplecolor':data.employeeTaskStatus=='In Progress'}">
                                  {{data.employeeTaskStatus}}</li>
                                <li>{{data.CreatedDate}}</li>
                                <li>
                                  <i class="icon-View"
                                    *ngIf="userservice.CheckPermission(userservice.Elements.Task,userservice.Operations.View)"
                                    (click)="ViewAssignedTaskIconClicked(data)"></i>
                                  <i class="icon-edit"
                                    *ngIf="userservice.CheckPermission(userservice.Elements.Task,userservice.Operations.Edit)"
                                    (click)="editAssignedIconClicked(data)"></i>
                                  <i class="icon-Delete"
                                    *ngIf="userservice.CheckPermission(userservice.Elements.Task,userservice.Operations.Delete)"
                                    (click)="DeleteAssignedTaskIcon(data)"></i>
                                </li>
                              </ul>

                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="slide-popup" id="add-task">
  <div class="slide-close">
    <i class="fa fa-angle-left" aria-hidden="true"></i>
  </div>
  <div class="slide-content" *ngIf="createTaskForm!=null">
    <h3>Create Task</h3>
    <form [formGroup]="createTaskForm">

      <div class="form-group">
        <label for="">Select Project</label>
        <select class="form-control" formControlName="projectId">
          <option value=-1 selected>Select Project</option>
          <option *ngFor="let project of ProjectsList" value="{{project.projectId}}">
            {{project.projectName}}</option>
        </select>
        <span class="error"
          *ngIf="!createTaskForm.controls['projectId'].valid&&(createTaskForm.controls['projectId'].dirty|| createTaskForm.controls['projectId'].touched)"><i
            class="fa fa-exclamation-triangle" aria-hidden="true"></i>Please provide department name
        </span>
      </div>
      <div class="form-group">
        <label for="">Task title</label>
        <input type="text" class="form-control" placeholder="Enter task title here" formControlName="taskHeading">
        <span class="error"
          *ngIf="!createTaskForm.controls['taskHeading'].valid&&(createTaskForm.controls['taskHeading'].dirty|| createTaskForm.controls['taskHeading'].touched)"><i
            class="fa fa-exclamation-triangle" aria-hidden="true"></i>Please enter task heading
        </span>
      </div>
      <div class="form-group">
        <label for="">Task Description</label>
        <textarea Class="form-control" rows="4" cols="50" formControlName="taskDescription"
          placeholder="Enter Task details here"></textarea>
        <span class="error"
          *ngIf="!createTaskForm.controls['taskDescription'].valid&&(createTaskForm.controls['taskDescription'].dirty|| createTaskForm.controls['taskDescription'].touched)"><i
            class="fa fa-exclamation-triangle" aria-hidden="true"></i>Please enter task description
        </span>
      </div>
      <div class="form-group">
        <label for="">Select Priority</label>
        <select class="form-control" formControlName="taskPriority">
          <option value="" selected>Select Priority</option>
          <option value="Low">Low</option>
          <option value="Medium">Medium</option>
          <option value="High">High</option>
        </select>
      </div>
      <div class="form-group">
        <label for="">Select Status</label>
        <select class="form-control" formControlName="taskStatus">
          <option value="" selected>Select Status</option>
          <option value="Created">Created</option>
          <option value="In Progress">In Progress</option>
          <option value="Pending">Pending</option>
          <option value="Completed">Completed</option>
        </select>
      </div>
      <div class="form-group">
        <label for="">upload file</label>
        <div class="file-upload">
          <input type="text" class="form-control" readonly placeholder="File details here"
            formControlName="taskAttachment">
          <div class="input-group-btn">
            <span class="file-upload btn btn-success">
              <span class="upl" id="upload">upload</span>
              <input type="file" class="upload up" id="up" />
            </span><!-- btn-orange -->
          </div><!-- btn -->
        </div><!-- group -->
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-md-5">
            <label for="">start date</label>
            <input type="date" class="form-control" formControlName="taskStartDate">
            <span class="error"
              *ngIf="!createTaskForm.controls['taskStartDate'].valid&&(createTaskForm.controls['taskStartDate'].dirty|| createTaskForm.controls['taskStartDate'].touched)"><i
                class="fa fa-exclamation-triangle" aria-hidden="true"></i>Please select start date
            </span>
          </div>
          <div class="col-md-2 text-center">
            <span class="to-padding">to</span>
          </div>
          <div class="col-md-5">
            <label for="">due Date</label>
            <input type="date" class="form-control" formControlName="taskDueDate">
            <span class="error"
              *ngIf="!createTaskForm.controls['taskDueDate'].valid&&(createTaskForm.controls['taskDueDate'].dirty|| createTaskForm.controls['taskDueDate'].touched)"><i
                class="fa fa-exclamation-triangle" aria-hidden="true"></i>Please select due date
            </span>
          </div>
        </div>
      </div>{{createTaskForm.value|json}}
      <input type="submit" value="CREATE TASK" class="team btn btn-primary"
        (click)="createTaskSave(createTaskForm.value)" [disabled]="!createTaskForm.valid">
      <input type="button" value="Cancel" class="btn btn-primary" (click)="CancelButtonClick()">
    </form>
  </div>
</div>
<div class="slide-popup" id="edit-task">
  <div class="slide-close">
    <i class="fa fa-angle-left" aria-hidden="true"></i>
  </div>
  <div class="slide-content" *ngIf="EditTaskForm!=null">
    <h3>Edit Task</h3>
    <form [formGroup]="EditTaskForm">

      <div class="form-group">
        <label for="">Select Project</label>
        <select class="form-control" formControlName="projectId">
          <option *ngFor="let project of ProjectsList" value="{{project.projectId}}">
            {{project.projectName}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="">Task title</label>
        <input type="text" class="form-control" placeholder="Enter task title here" formControlName="taskHeading">
      </div>
      <div class="form-group">
        <label for="">Task Description</label>
        <textarea Class="form-control" rows="4" cols="50" formControlName="taskDescription"
          placeholder="Enter Task details here"></textarea>
      </div>
      <div class="form-group">
        <label for="">Select Priority</label>
        <select name="" id="" class="form-control" formControlName="taskPriority">
          <option value="Low">Low</option>
          <option value="Medium">Medium</option>
          <option value="High">High</option>
        </select>
      </div>
      <div class="form-group">
        <label for="">Select Status</label>
        <select class="form-control" formControlName="taskStatus">
          <option value="" selected>Select Status</option>
          <option value="Created">Created</option>
          <option value="In Progress">In Progress</option>
          <option value="Pending">Pending</option>
          <option value="Completed">Completed</option>
        </select>
      </div>
      <div class="form-group">
        <label for="">upload file</label>
        <div class="file-upload">
          <input type="text" class="form-control" readonly placeholder="File details here"
            formControlName="taskAttachment">
          <div class="input-group-btn">
            <span class="file-upload btn btn-success">
              <span class="upl" id="upload">upload</span>
              <input type="file" class="upload up" id="up" />
            </span><!-- btn-orange -->
          </div><!-- btn -->
        </div><!-- group -->
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-md-5">
            <label for="">date</label>
            <input type="date" class="form-control" formControlName="taskStartDate">
          </div>
          <div class="col-md-2 text-center">
            <span class="to-padding">to</span>
          </div>
          <div class="col-md-5">
            <label for="">due Date</label>
            <input type="date" class="form-control" formControlName="taskDueDate">
          </div>
        </div>
      </div>
      <input type="button" value="Cancel" class="btn btn-primary" (click)="CancelButtonClick()">

      <input type="submit" value="EDIT TASK" class="team btn btn-primary"
        (click)="editSaveButtonClicked(EditTaskForm.value)">
    </form>
  </div>
</div>
<div class="slide-popup" id="edit-assigned-task">
  <div class="slide-close">
    <i class="fa fa-angle-left" aria-hidden="true"></i>
  </div>
  <div class="slide-content" *ngIf="EditAssignedTaskForm!=null">
    <h3>Edit Task</h3>
    <form [formGroup]="EditAssignedTaskForm">
      <div class="form-group">
        <label for="">Select Status</label>
        <select name="" id="" class="form-control" formControlName="employeeTaskStatus">
          <option value="" selected>Select Status</option>
          <option value="Created">Created</option>
          <option value="In Progress">In Progress</option>
          <option value="Pending">Pending</option>
          <option value="Completed">Completed</option>
        </select>
      </div>
      <input type="button" value="Cancel" class="btn btn-primary" (click)="CancelButtonClick()">

      <input type="submit" value="SAVE" class="team btn btn-primary"
        (click)="updateStatusAssignedTask(EditAssignedTaskForm.value)">{{EditAssignedTaskForm.value|json}}
    </form>
  </div>
</div>
<div class="slide-popup" id="task-description">
  <div class="slide-close">
    <i class="fa fa-angle-left" aria-hidden="true"></i>
  </div>
  <div class="slide-content">
    <h3>Task Description</h3>
    <p><strong>{{viewTask["taskHeading"]}}</strong></p>
    <span class="color-red"><i class="fa fa-clock-o"></i>Due: {{viewTask["taskDueDate"]}}</span>
    <h4><i class="icon-comment"></i>description</h4>
    <p>{{viewTask["taskDescription"]}}</p>
    <h4><i class="icon-attachment"></i> Attachment</h4>
    <div class="attachment">
      <img src="assets/img/img.png" alt="">
      <span>{{viewTask["taskAttachment"]}}</span>
    </div>
  </div>
</div>
<div class="slide-popup" id="test-description">
  <div class="slide-close">
    <i class="fa fa-angle-left" aria-hidden="true"></i>
  </div>
  <div >
    <div *ngIf="ViewAssignedtasks" class="slide-content">
      <h3>Task Description</h3>
      <p><strong>{{ViewAssignedtasks.taskHeading}}</strong></p>
      <span class="color-red"><i class="fa fa-clock-o"></i>Due: {{ViewAssignedtasks.taskDueDate}}</span>
      <h4><i class="icon-comment"></i>description</h4>
      <p>{{ViewAssignedtasks.taskDescription}}</p>
      <h4><i class="icon-attachment"></i> Attachment</h4>
      <div class="attachment">
        <img src="assets/img/img.png" alt="">
        <span>{{ViewAssignedtasks.taskAttachment}}</span>
      </div>
    </div>
    <hr>
    <div  *ngIf="ViewAssignedtasks"class="slide-content">
      <div class="comment-item">
        <div class="pro-thumb"></div>
        <input type="text" [(ngModel)]="ViewAssignedtasks.comment" class="form-control"
          placeholder="Type your comment here">
        <input type="button" value="SAVE" (click)="SaveComment(ViewAssignedtasks)" class="btn btn-primary">
      </div>
      <div *ngIf="ViewAssignedtasks.reply">
        <h4>Reply</h4>
        <div>{{ViewAssignedtasks.reply}}</div>
      </div>
    </div>
  </div>
</div>
