<div class="main-panel">
            <nav class="navbar navbar-default navbar-fixed">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse">
                        <div class="top-heading">
						<div class="search-form">
                                <i class="fa fa-search"></i>
                                <input type="text" class="form-control" placeholder="Search by name">
                            </div>
						</div>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="notification-li">
                                <a href="#">
                                    <i class="icon-notification"></i>
                                </a>
                            </li>
                            <li class="dropdown profile-dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <span class="shortname">AD</span>
                                    <p>
                                        Arthur D
                                        <b class="caret"></b>
                                    </p>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Separated link</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            
			
			<div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-4">
							 <h3 class="top-heading">Evaluate Employee skill</h3>
                           
                        </div>
                       
                    </div>
					<div class="emlist">
                    <ul class="team-member team-listvew">
						 <li class="evaluate-heading">
							 <ul>
							 <li>
								Employee Name 
</li>
								  <li>Designation </li>
								
								 <li>Actions </li>
							 </ul>
							
                      
                        </li>
						
						<li class="evaluate-heading list-content responselist">
							 <ul>
							 <li>
								<div class="team-thumb"></div> <h4>Amanda Kherr
								 <a href="#">angeljohnson@gmail.com</a></h4>
</li><li>Senior Designer</li>
								
								 <li> 
                              <button class="btn btn-success response">Evaluate</button>
                                
                             </li>
							 </ul>
							
                        </li>
						<li class="evaluate-heading list-content responselist">
							 <ul>
							 <li>
								<div class="team-thumb"></div> <h4>Amanda Kherr
								 <a href="#">angeljohnson@gmail.com</a></h4>
</li>
								<li>Senior Designer</li>
								 <li> 
                              <button class="btn btn-success response">Evaluate</button>
                                
                             </li>
							 </ul>
							
                        </li>
						<li class="evaluate-heading list-content responselist">
							 <ul>
							 <li>
								<div class="team-thumb"></div> <h4>Amanda Kherr
								 <a href="#">angeljohnson@gmail.com</a></h4>
</li>
								<li>Senior Designer</li>
								 <li> 
                              <button class="btn btn-success response">Evaluate</button>
                                
                             </li>
							 </ul>
							
                        </li>
					<li class="evaluate-heading list-content responselist">
							 <ul>
							 <li>
								<div class="team-thumb"></div> <h4>Amanda Kherr
								 <a href="#">angeljohnson@gmail.com</a></h4>
</li><li>Senior Designer</li>
								 <li> 
                              <button class="btn btn-success response">Evaluate</button>
                                
                             </li>
							 </ul>
							
                        </li>
					<li class="evaluate-heading list-content responselist">
							 <ul>
							 <li>
								<div class="team-thumb"></div> <h4>Amanda Kherr
								 <a href="#">angeljohnson@gmail.com</a></h4>
</li><li>Senior Designer</li>
								 <li> 
                              <button class="btn btn-success response">Evaluate</button>
                                
                             </li>
							 </ul>
							
                        </li>
						<li class="evaluate-heading list-content responselist">
							 <ul>
							 <li>
								<div class="team-thumb"></div> <h4>Amanda Kherr
								 <a href="#">angeljohnson@gmail.com</a></h4>
</li><li>Senior Designer</li>
								 <li> 
                              <button class="btn btn-success response">Evaluate</button>
                                
                             </li>
							 </ul>
							
                        </li>
					<li class="evaluate-heading list-content responselist">
							 <ul>
							 <li>
								<div class="team-thumb"></div> <h4>Amanda Kherr
								 <a href="#">angeljohnson@gmail.com</a></h4>
</li><li>Senior Designer</li>
								 <li> 
                              <button class="btn btn-success response">Evaluate</button>
                                
                             </li>
							 </ul>
							
                        </li>
						<li class="evaluate-heading list-content responselist">
							 <ul>
							 <li>
								<div class="team-thumb"></div> <h4>Amanda Kherr
								 <a href="#">angeljohnson@gmail.com</a></h4>
</li><li>Senior Designer</li>
								 <li> 
                              <button class="btn btn-success response">Evaluate</button>
                                
                             </li>
							 </ul>
							
                        </li>
					<li class="evaluate-heading list-content responselist">
							 <ul>
							 <li>
								<div class="team-thumb"></div> <h4>Amanda Kherr
								 <a href="#">angeljohnson@gmail.com</a></h4>
</li><li>Senior Designer</li>
								 <li> 
                              <button class="btn btn-success response">Evaluate</button>
                                
                             </li>
							 </ul>
							
                        </li>
						
                      
                    </ul>
						</div>
                </div>
            </div>
            
        </div>
    
    
