<div class="main-panel">
	<div class="content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-10">
					<h3 class="top-heading">Team List </h3>

				</div>
				<div class="col-md-2"><input type="submit" value="Create Team" class="team btn btn-primary"></div>
			</div>
			<div class="emlist">
				<ul class="team-member team-listvew">
					<li class="team-heading">
						<ul>
							<li>
								Team Name
							</li>
							<li>Actions
							</li>
						</ul>
					</li>

					<li class="team-heading list-content" *ngFor="let data of searchservice.SearchResults">
						<ul>
							<li>
								{{data.teamName}}
							</li>
							<li>
								<i class="icon-View"></i>
								<i class="icon-edit"></i>
								<i class="icon-Delete"></i>

							</li>
						</ul>

					</li>



				</ul>
			</div>
		</div>
	</div>

</div>

<div class="slide-popup" id="add-task">
	<div class="slide-close">
		<i class="fa fa-angle-left" aria-hidden="true"></i>
	</div>
	<div class="slide-content forteam">
		<h3>Team Member View </h3>
		<div class="emlist">
			<ul class="team-member team-listvew">
				<li class="team-pop-view">
					<ul>
						<li>Team Name </li>
						<li> Email </li>

					</ul>


				</li>

				<li class="team-pop-view list-content">
					<ul>
						<li>
							<div class="team-thumb"></div>
							<h4>Amanda Kherr</h4>
						</li>
						<li>
							<a href="#">angeljohnson@gmail.com</a>

						</li>
					</ul>

				</li>
				<li class="team-pop-view list-content">
					<ul>
						<li>
							<div class="team-thumb"></div>
							<h4>Amanda Kherr</h4>
						</li>
						<li>
							<a href="#">angeljohnson@gmail.com</a>

						</li>
					</ul>

				</li>
				<li class="team-pop-view list-content">
					<ul>
						<li>
							<div class="team-thumb"></div>
							<h4>Amanda Kherr</h4>
						</li>
						<li>
							<a href="#">angeljohnson@gmail.com</a>

						</li>
					</ul>

				</li>
				<li class="team-pop-view list-content">
					<ul>
						<li>
							<div class="team-thumb"></div>
							<h4>Amanda Kherr</h4>
						</li>
						<li>
							<a href="#">angeljohnson@gmail.com</a>

						</li>
					</ul>

				</li>
				<li class="team-pop-view list-content">
					<ul>
						<li>
							<div class="team-thumb"></div>
							<h4>Amanda Kherr</h4>
						</li>
						<li>
							<a href="#">angeljohnson@gmail.com</a>

						</li>
					</ul>

				</li>
				<li class="team-pop-view list-content">
					<ul>
						<li>
							<div class="team-thumb"></div>
							<h4>Amanda Kherr</h4>
						</li>
						<li>
							<a href="#">angeljohnson@gmail.com</a>

						</li>
					</ul>

				</li>
				<li class="team-pop-view list-content">
					<ul>
						<li>
							<div class="team-thumb"></div>
							<h4>Amanda Kherr</h4>
						</li>
						<li>
							<a href="#">angeljohnson@gmail.com</a>

						</li>
					</ul>

				</li>



			</ul>
		</div>
	</div>
</div>