<div class="main-panel">
	<div class="content" style="background-color:#DAEBEB;">
		<div class="container-fluid">
			<p-toast></p-toast>
			<div class="row">

				<div class="col-md-4">
					<div class="search-form">
						<i class="fa fa-search"></i>
						<input type="text" class="form-control" placeholder="Search by name"
							(input)="FilterData($event)">
					</div>
				</div>
				<div class="col-md-2 pull-right">
					<button class="team btn btn-primary create-team" (click)="CreateTeamButtonClicked()">Create
						Team</button>
				</div>
			</div>
			<div class="emlist">
				<ul class="team-member team-listvew">
					<li class="team-heading">
						<ul>
							<li>
								Team Name
							</li>
							<li>Actions </li>
						</ul>
					</li>
					<li class="team-heading list-content" *ngFor="let data of SearchResults">
						<ul>
							<li>
								{{data.teamName}}

							</li>
							
							<li>
								<i class="icon-View team" (click)="ViewIconClicked(data.teamId)"></i>
								<i class="icon-edit" (click)="editIconClicked(data)"></i>
								<i id="addteam1" class="icon-Team" (click)="AddTeamIcon(data.teamId)"></i>
								<i class="icon-Delete" (click)="DeleteTeamIcon(data)"></i>
							</li>
						</ul>

					</li>
				</ul>

			</div>
		</div>
	</div>


</div>
<div class="slide-popup" id="add-task">
	<div class="slide-close">
		<i class="fa fa-angle-left" aria-hidden="true"></i>
	</div>
	<div class="slide-content forteam">
		<h3>Team Member View </h3>
		<div class="emlist">
			<ul class="team-member team-listvew">
				<li class="team-pop-view">
					<ul>
						<li>Employee Name </li>
						<li> Email </li>
					</ul>
				</li>

				<li class="team-pop-view list-content">
					<ul *ngFor="let member of ViewTeamMemberList">
						 <li>
					   		<div class="team-thumb"></div> <h4>{{member.employeeName}}</h4>
						</li>				
						 <li> 
					  		<a href="#">{{member.employeeEmail}}</a>			   
						</li>
					</ul>
				   
			   </li>
			</ul>
		</div>
	</div>
</div>
<div class="slide-popup" id="task-description">
	<div class="slide-close">
		<i class="fa fa-angle-left" aria-hidden="true"></i>
	</div>
	<div class="slide-wrapper">
		<div class="slide-content" *ngIf="CreateTeamForm!=null">

			<h3>Create Team</h3>
			<form [formGroup]="CreateTeamForm">			
				<div class="form-group">
					<label for="">Team Name</label>
					<input type="text" class="form-control" placeholder="Enter Team Name" formControlName="teamName">
					<span class="error"
					*ngIf="!CreateTeamForm.controls['teamName'].valid&&(CreateTeamForm.controls['teamName'].dirty|| CreateTeamForm.controls['teamName'].touched)"><i
						class="fa fa-exclamation-triangle" aria-hidden="true"></i>Please provide Team name</span>
				</div>
				<div class="form-group">
					<label for="">Select project</label>
					<select class="form-control" formControlName="projectId">
						<option value=-1 selected>select Project </option>
						<option *ngFor="let project of ProjectsList" value="{{project.projectId}}">
							{{project.projectName}}</option>
						</select>
				</div>
				<input type="submit" value="Create Team" class="btn btn-primary"
					(click)="CreateButtonClicked(CreateTeamForm.value)" [disabled]="!CreateTeamForm.valid">
			</form>
		</div>
	</div>
</div>
<div class="slide-popup" id="edit-team">
	<div class="slide-close">
		<i class="fa fa-angle-left" aria-hidden="true"></i>
	</div>
	<div class="slide-wrapper">
		<div class="slide-content">

			<h3>Edit Team</h3>
			<form [formGroup]="EditTeamForm" *ngIf="EditTeamForm!=null">			
				<div class="form-group">
					<label for="">Team Name</label>
					<input type="text" class="form-control" placeholder="Enter Team Name" formControlName="teamName">
					<span class="error" *ngIf="!EditTeamForm.controls['teamName'].valid&&(EditTeamForm.controls['teamName'].dirty|| EditTeamForm.controls['teamName'].touched)"><i
						class="fa fa-exclamation-triangle" aria-hidden="true"></i>Please provide Team name</span>
				</div>

				<div class="form-group">
					<label for="">Select project</label>
					<select class="form-control" formControlName="projectId">
						<option value=-1>No Project</option>
						<option *ngFor="let project of ProjectsList" value="{{project.projectId}}">
							{{project.projectName}}</option>
					</select>
				</div>

				<input type="submit" value="Edit Team" class="btn btn-primary"
					(click)="editSaveButtonClicked(EditTeamForm.value)" [disabled]="!EditTeamForm.valid">
			</form>
		</div>
	</div>
</div>
<div class="slide-popup" id="addteam-member">
	<div class="slide-close">
		<i class="fa fa-angle-left" aria-hidden="true"></i>
	</div>
	<div class="slide-wrapper">
		<div class="slide-content">
			<h3>Add Team Members</h3>
			<form [formGroup]="AddTeamForm" *ngIf="AddTeamForm!=null"> 
				<div class="form-group" >
					<label for="">Select team member</label>
					<div class="selectwith-button">
						<div class="custom-select-wrapper">
							<div class="custom-select">
								<select class="form-control" formControlName="EmployeeId">
									<option value="">Select Team Member</option>
									<option *ngFor="let employee of EmployeeList" value="{{employee.employee.employeeId}}">{{employee.employee.employeeFname}} {{employee.employee.employeeMname}}</option>
								</select>
							</div>
						</div>
						<button class="btn btn-primary" [disabled]="AddTeamForm.get('EmployeeId').value == ''" (click)="AddMemberToTeamList(AddTeamForm.get('EmployeeId').value)">ADD</button>
					</div>
				</div>
				<div class="form-group">
					<ul class="selected-user">
						<li *ngFor="let member of TeamMemberList"><span class="user-thumb"></span>
							<p>{{member.employee.employeeFname}} {{member.employee.employeeMname}} <b>{{member.designation.designationName}}</b></p><i class="fa fa-times" (click)="RemoveMemberFromTeamList(member)"></i>
						</li>
					</ul>
				</div>
				<input type="submit" value="Add Team Members" class="btn btn-primary" (click)="SaveTeamMembers(AddTeamForm.value)" [disabled]="TeamMemberList.length==0" >
			</form>
		</div>
	</div>
</div>