<div class="main-panel">
    <div class="content" style="background-color:#DAEBEB;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-4 pull-right"><input type="submit" value="Create Feedback Request" class="team btn btn-primary add-feedback"></div>
                    
                </div>
              
            </div>
            
            <div class="form-container">
            <div class="form-section">
    <div class="col-lg-12 permission-heading"><h4 style="font-size: 20px;font-weight:600">To see the project wise feedback select a project or simply select a date</h4></div>
                <div class="oradd">
            <div class="col-lg-6">
                <div class="form-group">
                
                 <label style="font-size: 16px;" for="">Select Project</label>
            <select name="" id="" class="form-control">
                <option value="">Select Project</option>
                <option value="">Project Manager</option>
                <option value="">Designer</option>
                <option value="">Designer</option>
             
            </select>
                
                
                </div>
                </div>	
                <span>or</span>
                <div class="col-lg-6">
                <div class="form-group">
                
                 <label style="font-size: 16px;" for="">Select Date</label>
            <input type="date" class="form-control">
                
                
                </div>
                </div>	
                </div>
                
                </div>
        
        </div>
            <div id="requested-feedback" class="tab-pane fade active in">
                            <div class="table-full-width">
                            <div class="clearfix">
                            <ul class="team-member">
                            <li class="feedback-width">
                            <div class="team-thumb">
                            </div>
                            <h4>Amanda Kherr <strong>Designer</strong></h4>
                            <a href="#">Request from : 1 Memeber</a>
                                <a href="#">Project Name : Individual Project</a>
                            
                            </li>
                            
                            
                            
                            </ul>
                                </div>
                            
                
                            </div>
                        </div>
        </div>
    </div>
    <div class="slide-popup" id="add-task">
        <div class="slide-close">
            <i class="fa fa-angle-left" aria-hidden="true"></i>
        </div>
        <div class="slide-content">
            <h3>Create Feedback Request</h3>
            <form action="">
               <div class="form-group">
						
						 <label for="">Select Project</label>
                    <select name="" id="" class="form-control">
                        <option value="">Select Project</option>
                        <option value="">Project Manager</option>
                        <option value="">Designer</option>
                        <option value="">Designer</option>
                     
                    </select>
						
						
						</div>
				
				<div class="form-group">
						
						 <label for="">Feedback For Employee</label>
                    <select name="" id="" class="form-control">
                        <option value="">Select For Employee</option>
                        <option value="">Project Manager</option>
                        <option value="">Designer</option>
                        <option value="">Designer</option>
                     
                    </select>
						
						
						</div>
				<div class="container">
<div class="example">
<script type="text/javascript">
    $(document).ready(function() {
        $('#multi-select-demo').multiselect();
    });
</script>
<select id="multi-select-demo" multiple="multiple">
    <option value="jQuery">jQuery tutorial</option>
    <option value="Bootstrap">Bootstrap Tips</option>
    <option value="HTML">HTML</option>
    <option value="CSS">CSS tricks</option>
    <option value="angular">Angular JS</option>
</select>
</div>
</div>
                <div class="form-group">
                    <label for="">Feedback From Employee</label>
					<textarea Class="form-control" rows="4" cols="50">
Feedback From Employee
  </textarea>
                </div>
				
				
                <!-- form-group -->
                
                <input type="submit" value="Create Feedback Request" class="btn btn-primary">
            </form>
        </div>
    </div>
</div>