<div class="main-panel">
    <div class="content" style="background-color:#DAEBEB;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="table-full-width">
                        <ul class="feedback-list">
                            <li>
                                <div class="row">
                                    <div class="col-md-4">
                                        <label for="">Enter you Skills</label>
                                        <input type="text" class="form-control" placeholder="Skill Name e.g. HTML" value="HTML">
                                    </div>
                                    <div class="col-md-4">
                                        <label for="">Enter your Skills Proficiency</label><br><br>
                                        <div class="skill-slider">
                                            <span>Html</span>
                                            <span id="ex1CurrentSliderValLabel" class="skill-value"><span id="ex1SliderVal">100</span>%</span>
                                            <input id="ex1" type="text" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="100" />
                                        </div>
                                    </div>
                                    <div class="col-md-4 text-right" style="margin-top: 20px;">
                                        <button class="btn btn-success color-green">Rate Employee Skill</button>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="row">
                                    <div class="col-md-4">
                                        <label for="">Rate Employee skill</label>
                                        <input type="text" class="form-control" placeholder="Skill Name e.g. HTML" value="Html">
                                    </div>
                                     <div class="col-md-4">
                                        <label for="">Enter Employees Skill Proficiency</label><br><br>
                                        <div class="skill-slider">
                                            <span>Skill</span>
                                            <span id="ex3CurrentSliderValLabel" class="skill-value"><span id="ex3SliderVal">10</span>%</span>
                                            <input id="ex3" type="text" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="10" />
                                        </div>
                                    </div>
                                    <div class="col-md-4 text-right">
                                        <i class="icon-success"></i>
                                        <i class="icon-edit"></i>
                                        <i class="icon-delete"></i>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="row">
                                    <div class="col-md-4">
                                        <label for="">Enter you Skills</label>
                                        <input type="text" class="form-control" placeholder="Skill Name e.g. HTML">
                                    </div>
                                    <div class="col-md-4">
                                        <label for="">Enter your Skills Proficiency</label><br><br>
                                        <div class="skill-slider">
                                            <span>Skill</span>
                                            <span id="ex3CurrentSliderValLabel" class="skill-value"><span id="ex2SliderVal">10</span>%</span>
                                            <input id="ex2" type="text" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="10" />
                                        </div>
                                    </div>
                                    <div class="col-md-4 text-right" style="margin-top: 20px;">
                                        <button class="btn btn-success color-green">Rate Employee Skill</button>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                </div>
            </div>
        </div>
    </div>
</div>