<div class="main-panel">
    <div class="content" style="background-color:#DAEBEB;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <div class="search-form">
                        <i class="fa fa-search"></i>
                        <input type="text" class="form-control" placeholder="Search by name"
                            (input)="FilterData($event)">
                    </div>
                </div>
            </div>
            <div class="emlist">
                <ul class="team-member team-listvew">
                    <li class="role-list-heading">
                        <ul>
                            <li>
                                Role Name
                            </li>
                            <li>Actions </li>
                        </ul>
                    </li>
                    <li class="role-list-heading list-content" *ngFor="let role of SearchResults">
                        <ul>
                            <li>{{role.designationName}}</li>
                            <li>
                                <i class="icon-View" *ngIf="userService.CheckPermission(userService.Elements.Role,userService.Operations.View)" (click)="viewRoleClicked(role)"></i>
                                <i class="icon-edit" *ngIf="userService.CheckPermission(userService.Elements.Role,userService.Operations.Edit)" (click)="editIconClicked(role.designationId)"></i>
                                <i style="background-color: #f7d0d0;color: #f90000;" class="icon-Delete" *ngIf="userService.CheckPermission(userService.Elements.Role,userService.Operations.Delete)" (click)="deleteIconClicked(role)"></i>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="slide-popup" id="add-task">
    <div class="slide-close">
        <i class="fa fa-angle-left" aria-hidden="true"></i>
    </div>
    <div class="slide-content">
        <h3>Role Description</h3>
        <ul>
            <li *ngFor="let element of ViewPermissions"><b>{{GetElementName(element.elementId)}}</b>
                <ul>
                    <li *ngFor="let operation of element.roleElementOprationList">
                        {{GetOperationName(operation.operationId)}}</li>
                </ul>
            </li>
        </ul>
    </div>
</div>
