<div class=" login-bg">
    <div class="overlay">
        <div class="sidebar">
            <div class="sidebar-wrapper">
                <ul class="nav">
                </ul>
            </div>
        </div>
        <div class="main-panel">
            <div class="login">
                <div class="welcome-heading">
                    <h3 class="heading-1">Welcome back!<br />Sign in to Continue</h3>

                    <div class=""><img src="assets/img/login-logo.png"></div>
                </div>

                <div class="clearfix"></div>
                <div class="form-wrapper">
                    <form [formGroup]="LoginForm" (ngSubmit)="onSubmit(LoginForm.value)">
                        <div class="form-group">
                            <label for="">Email</label>
                            <input type="text" class="form-control" placeholder="Enter Your Email Address"
                                formControlName="email">
                                <span class="error" *ngIf="!LoginForm.controls['email'].valid&&(LoginForm.controls['email'].dirty || LoginForm.controls['email'].touched)"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>Please
                                    provide Email</span>
                        </div>
                        <div class="form-group">
                            <label for="">Password</label>
                            <input type="password" class="form-control" placeholder="Enter Your Password"
                                formControlName="password">
                                <span class="error" *ngIf="!LoginForm.controls['password'].valid&&(LoginForm.controls['password'].dirty || LoginForm.controls['password'].touched)"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>Please
                                    provide Password</span>
                        </div>

                        <div class="form-group">
                            <div class="checkbox">
                                <input id="checkbox1" type="checkbox">
                                <label for="checkbox1">Remember me </label>
                            </div><br />
                            <input type="submit" name="submit" value="Login" class="btn btn-primary" [disabled]="!LoginForm.valid">

                        </div>

                        <div class="frpass"><a href="">Forgot your password?</a></div>
                    </form>

                </div>
            </div>




        </div>

    </div>
</div>