<div class="main-panel">
    <div class="content" style="background-color:#DAEBEB;">
        <p-toast></p-toast>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12" *ngIf="SkillsFormGroup" [formGroup]="SkillsFormGroup">
                    <ul class="feedback-list" FormArrayName="skillsFormArray">
                        <li *ngFor="let skill of skillArray.controls;let skillIndex=index">
                            <div class="row">
                                <ng-container [formGroup]="skill">
                                    <div class="col-md-4">
                                        <label for="">Enter you Skills</label>
                                        <input type="text" class="form-control" placeholder="Skill Name e.g. HTML"
                                            formControlName="skillName" [attr.disabled]="skill.controls.mode.value!='edit' ? '' : null" />
                                    </div>
                                    <div class="col-md-4">
                                        <label for="">Enter your Skills Proficiency</label><br><br>
                                        <div class="skill-slider">
                                            <span>{{skill.controls.skillName.value}}</span>
                                            <span
                                                class="skill-value"><span>{{skill.controls.skillProficiency.value}}</span>%</span>
                                            <p-slider formControlName="skillProficiency" [min]="0" [max]="100" [disabled]="skill.controls.mode.value!='edit'">
                                            </p-slider>
                                        </div>
                                    </div>
                                    <div class="col-md-4 text-right">
                                        <i class="icon-edit" *ngIf="skill.controls.mode.value=='view'" (click)="EditIconClicked(skill)" ></i>
                                        <i class="icon-success" *ngIf="skill.controls.mode.value=='edit'" (click)="SaveIconClicked(skillIndex)" ></i>
                                        <i class="icon-delete" *ngIf="skill.controls.mode.value=='view' || skill.controls.mode.value=='edit'" (click)="DeleteIconClicked(skill.value,skillIndex)" ></i>
                                    </div>
                                </ng-container>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3" style="text-align:center">


                    <input type="button" (click)="AddNewSkillFormGroup()" value="Add New Skills"
                        class="subbtn btn btn-primary">
                </div>
            </div>
            <div class="col-md-3">
            </div>
        </div>
    </div>
</div>