<div class="main-panel">
    <div class="content" style="background-color:#DAEBEB;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <div class="search-form">
                        <i class="fa fa-search"></i>
                        <input type="text" class="form-control" placeholder="Search by name"
                            (input)="FilterData($event)">
                    </div>
                </div>

                <div class="col-md-2 pull-right">
                </div>
                <div class="dropdown pull-right">
                    <button class="btn btn-primary dropdown-toggle" id="dropdownMenuButton" type="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Filter by Project<b
                            class="caret"></b></button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="javascript:void(0);">Action</a>
                        <a class="dropdown-item" href="javascript:void(0);">Another action</a>
                        <a class="dropdown-item" href="javascript:void(0);">Something else here</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card-outer" *ngIf="SearchResults">
                                <h4>Work in Progress</h4>
                                <div *ngFor="let goal of GetGoalInprogressList" class="task-card"
                                      [style.background-color]="setStyles(goal.goalStatus)">

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-md-9">
                                                    <p><span>{{goal.goalHeading}}</span>
                                                    </p>
                                                </div>
                                                <div class="col-md-3"><span
                                                        class="statusbox" [class.greencolor]="goal.goalStatus=='hold'" [class.yellowcolorp]="goal.goalStatus=='delay'">{{goal.goalStatus}}</span>
                                                </div>
                                            </div>
                                            <div class="date-section">{{goal.goalEndDate}}</div>
                                            <p>{{goal.goalDescription}}</p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card-outer" *ngIf="SearchResults">
                                <h4>Completed</h4>
                                <div class="task-card" *ngFor="let goal of GetGoalCompletedList">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-md-9">
                                                    <p><span>{{goal.goalHeading}}</span>
                                                    </p>
                                                </div>
                                                <div class="col-md-3"><span
                                                        class="statusbox greencolor">{{goal.goalStatus}}</span>
                                                </div>
                                            </div>
                                            <div class="date-section">{{goal.goalEndDate}}</div>
                                            <p>{{goal.goalDescription}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
