<div class="login-bg">
    <div class="overlay">
        <div class="main-panel">
            <div class="login">
                <div class="welcome-heading">
                    <h3 class="heading-1">Company information
                        <span class="text-left">Help us setup your account</span></h3>

                    <div class=""><img src="assets/img/login-logo.png"></div>
                </div>

                <div class="clearfix"></div>
                <div class="form-wrapper">
                    <form [formGroup]="CompanyForm" (ngSubmit)="OnSubmit(CompanyForm.value)">
                        <div class="form-group">
                            <label for="">Company Name *</label>
                            <input type="text" class="form-control" placeholder="Enter Your Company Name"
                                formControlName="companyName">
                            <span class="error" *ngIf="!CompanyForm.controls['companyName'].valid&&(CompanyForm.controls['companyName'].dirty || CompanyForm.controls['companyName'].touched)"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>Please
                                provide company name</span>
                        </div>
                        <div class="form-group">
                            <label for="">Company Website *</label>
                            <input type="text" class="form-control" placeholder="Enter Your Portal Name"
                                formControlName="portalName">
                            <span *ngIf="!CompanyForm.controls['portalName'].valid&&(CompanyForm.controls['portalName'].dirty|| CompanyForm.controls['portalName'].touched)" class="error"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>Please
                                provide valid company Website</span>
                        </div>
                        <div class="form-group">
                            <label for="">Industry *</label>
                            <div class="Industry">
                                <select class="form-control" formControlName="industryType">
                                    <option value="">Select industry</option>
                                    <option value="IT Services">IT Services</option>
                                    <option value="Finance">Finance</option>
                                    <option value="Manufacturing">Manufacturing</option>
									<option value="Hospitality">Hospitality</option>
									<option value="Health Care">Health Care</option>
                                </select>
                            </div>
                            <span *ngIf="!CompanyForm.controls['industryType'].valid&&(CompanyForm.controls['industryType'].dirty|| CompanyForm.controls['industryType'].touched)" class="error"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>Please
                                select Industy type</span>
                        </div>

                        <div class="form-group">
                            <label for="">Office Phone No *</label>
                            <input type="text" class="form-control" placeholder="Enter Your Mobile Number"
                                formControlName="adminMobile">
                                <span *ngIf="!CompanyForm.controls['adminMobile'].valid&&(CompanyForm.controls['adminMobile'].dirty|| CompanyForm.controls['adminMobile'].touched)" class="error"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>Please
                                    provide valid phone No.</span>
                        </div>

                        <div class="form-group">
                            <input type="submit" name="submit" value="Update" class="btn btn-primary" [disabled]="!CompanyForm.valid" >
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>