<div class="main-panel">
  <div class="content" style="background-color:#DAEBEB;">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4">
          <div class="search-form">
            <i class="fa fa-search"></i>
            <input type="text" class="form-control" placeholder="Search by name" (input)="FilterData($event)">
          </div>
        </div>
        <div class="dropdown pull-right">
          <button class="btn btn-primary dropdown-toggle" id="dropdownMenuButton" type="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">Filter by Status<b class="caret"></b></button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="javascript:void(0);">Action</a>
            <a class="dropdown-item" href="javascript:void(0);">Another action</a>
            <a class="dropdown-item" href="javascript:void(0);">Something else here</a>
          </div>

        </div>
        <div class="dropdown pull-right" style="margin-right: 20px;">
          <button class="btn btn-primary dropdown-toggle" id="dropdownMenuButton" type="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">Filter by Priority<b class="caret"></b></button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="javascript:void(0);">Action</a>
            <a class="dropdown-item" href="javascript:void(0);">Another action</a>
            <a class="dropdown-item" href="javascript:void(0);">Something else here</a>
          </div>

        </div>
        <div class="col-md-12">
          <div class="table-full-width">
            <ul class="checkbox-list">
              <li>
                <table class="table">
                  <tbody>
                    <tr>
                      <td style="width: 50px;">
                        #
                      </td>
                      <td style="width:280px;"> Employee Name</td>
                      <td style="width: 150px;">Module</td>
                      <td style="width: 150px;">Operation</td>
                      <td style="width: 140px;" class="gray-text">Date/Time</td>
                      <td style="width: 180px;" class="gray-text"> Action</td>
                    </tr>
                  </tbody>
                </table>
              </li>
              <li>
                <table class="table">
                  <tbody>
                    <tr *ngFor="let data of SearchResults">
                      <td style="width: 50px;">
                        <div class="checkbox">
                          <input id="checkbox11" type="checkbox">
                          <label for="checkbox11"></label>
                        </div>
                      </td>
                      <td style="width:292px;">{{data.employeeName}}</td>
                      <td style="width: 150px;">{{data.actionType}}</td>
                      <td style="width: 150px;">{{data.action}}</td>
                      <td style="width: 92px;" class="gray-text">{{data.createdDate}}</td>

                      <td style="width: 180px;" class="gray-text act"> <i class="icon-View project-description"></i>

                        <i class="icon-Delete"></i></td>
                    </tr>
                  </tbody>
                </table>
              </li>

            </ul>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="slide-popup" id="add-task">
  <div class="slide-close">
    <i class="fa fa-angle-left" aria-hidden="true"></i>
  </div>
  <div class="slide-content">
    <h3>Project Description</h3>
    <p><strong>Create dashboard of ProgressBar Helps you organize, assign, tasks, all from one central platform</strong>
    </p>
    <div class="row">
      <div class="col-md-3 col-xs-6">
        <span><i class="fa fa-clock-o"></i>10 FEB 20</span>
      </div>
      <div class="col-md-3 col-xs-6">
        <span class="color-red"><i class="fa fa-clock-o"></i>Due : 14 FEB 20</span>
      </div>
      <div class="col-md-6 col-xs-12">
        <div class="skill-slider">
          <span id="ex3CurrentSliderValLabel" class="skill-value"><span id="ex3SliderVal">100</span>%</span>
          <input id="ex3" type="text" data-slider-min="0" data-slider-max="100" data-slider-step="1"
            data-slider-value="100" />
        </div>
      </div>
    </div>
    <h4><i class="icon-comment"></i> description</h4>
    <p>Loream provides you with intelligently crafted filler text with decent and simple UI. The
      loream text itself is specifically created to be appealing to eyes. Creating a positive
      placebo for your project. Making your project attractive and irresistible even at
      production phase. Try loream now!
    </p>
    <h4><i class="icon-attachment"></i> Attachment</h4>
    <div class="attachment">
      <img src="assets/img/img.png" alt="">
      <span>attachments.png<b>10 KB</b></span>
    </div>
  </div>
</div>
