<div class="sidemenu">
    <a href="#" class="brand-logo"><img src="assets/img/logooo.png" alt=""></a>
    <ul class="nav navbar-sidemenu">
        <li>
            <a [routerLink]="['/department/create']">
                <i class="icon-Department"></i>
                Department
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link">
                <i class="icon-Employee"></i>
                Employee
                <b class="caret"></b>
            </a>
            <div class="collapse">
                <div class="collapse-inner">
                    <a class="collapse-item" [routerLink]="['/employee/create']">Create Employee</a>
                    <a class="collapse-item" [routerLink]="['/employee/list']">Employee List</a>
                </div>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="icon-Feedback"></i>
                Role
                <b class="caret"></b>
            </a>
            <div class="collapse">
                <div class="collapse-inner">
                    <a class="collapse-item" [routerLink]="['/role/create']">Create Role</a>
                    <a class="collapse-item" [routerLink]="['/role/list']">Role List</a>
                </div>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="icon-Projects"></i>
                Projects
                <b class="caret"></b>
            </a>
            <div class="collapse">
                <div class="collapse-inner">
                    <a class="collapse-item" [routerLink]="['/project/create']">Create Project</a>
                    <a class="collapse-item" [routerLink]="['/project/list']">Project List</a>
                </div>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="icon-list"></i>
                Tasks
                <b class="caret"></b>
            </a>
            <div class="collapse">
                <div class="collapse-inner">
                    <a class="collapse-item" [routerLink]="['/task/my-task']">My Task</a>
                    <a class="collapse-item" [routerLink]="['/task/team-task']">Team Task</a>
                </div>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="icon-Goals"></i>
                Goals
                <b class="caret"></b>
            </a>
            <div class="collapse">
                <div class="collapse-inner">
                    <a class="collapse-item" [routerLink]="['goals/mygoals']">My Goal</a>
                    <a class="collapse-item" href="cards.html">Team Goal</a>
                </div>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="icon-Evaluate"></i>
                Evaluate Performance
                <b class="caret"></b>
            </a>
            <div class="collapse">
                <div class="collapse-inner">
                    <a class="collapse-item" href="buttons.html">My Goal</a>
                    <a class="collapse-item" href="cards.html">Team Goal</a>
                </div>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="icon-Feedback"></i>
                Feedback
                <b class="caret"></b>
            </a>
            <div class="collapse">
                <div class="collapse-inner">
                    <a class="collapse-item" [routerLink]="['Feedback/MyFeedback']" >My Feedback</a>
                    <a class="collapse-item" [routerLink]="['Feedback/TeamFeedback']">Team Feedback Management</a>
                </div>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="icon-skill"></i>
                Skills
                <b class="caret"></b>
            </a>
            <div class="collapse">
                <div class="collapse-inner">
                    <a class="collapse-item" [routerLink]="['Skill/MySkill']">My Skill</a>
                    <a class="collapse-item" [routerLink]="['Skill/EvaluateSkill']">Evaluate Employee Skills</a>
                </div>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="icon-list"></i>
                Exit Interview
                <b class="caret"></b>
            </a>
            <div class="collapse">
                <div class="collapse-inner">
                    <a class="collapse-item" [routerLink]="['ExitInterview/SurveyForm']">Survey Form</a>
                    <a class="collapse-item" [routerLink]="['ExitInterview/ExactResponse']">Exact Response</a>
                    <a class="collapse-item" [routerLink]="['ExitInterview/GeneralResponse']">General Response</a>
                </div>
            </div>
        </li>

        <li>
            <a [routerLink]="['/team/list']">
                <i class="icon-Team"></i>
                Team
            </a>
        </li>
    </ul>
</div>
<div class="sidebar">
    <div class="sidebar-wrapper">
        <ul class="nav">
        </ul>
    </div>
</div>