<div class="main-panel">
    <div class="content" style="background-color:#DAEBEB;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <div class="search-form">
                        <i class="fa fa-search"></i>
                        <input type="text" class="form-control" placeholder="Search by name">
                    </div>
                </div>
            </div>
            <div class="emlist">
                <ul class="team-member team-listvew">
                    <li class="list-heading responselist">
                        <ul>
                            <li>
                                Employee Name
                            </li>
                            <li>Department</li>
                            <li>Designation </li>
                            <li>Actions </li>
                        </ul>


                    </li>

                    <li class="list-heading list-content responselist">
                        <ul>
                            <li>
                                <div class="team-thumb"></div>
                                <h4>Amanda Kherr
                                    <a href="#">angeljohnson@gmail.com</a></h4>
                            </li>
                            <li>Creative Department</li>
                            <li>Senior Designer</li>
                            <li>
                                <a href="Exact-interview.html"><button class="btn btn-success response">View
                                        Response</button></a>

                            </li>
                        </ul>

                    </li>
                    <li class="list-heading list-content responselist">
                        <ul>
                            <li>
                                <div class="team-thumb"></div>
                                <h4>Amanda Kherr
                                    <a href="#">angeljohnson@gmail.com</a></h4>
                            </li>
                            <li>Creative Department</li>
                            <li>Senior Designer</li>
                            <li>
                                <a href="Exact-interview.html"><button class="btn btn-success response">View
                                        Response</button></a>
                            </li>
                        </ul>
                    </li>
                    <li class="list-heading list-content responselist">
                        <ul>
                            <li>
                                <div class="team-thumb"></div>
                                <h4>Amanda Kherr
                                    <a href="#">angeljohnson@gmail.com</a></h4>
                            </li>
                            <li>Creative Department</li>
                            <li>Senior Designer</li>
                            <li>
                                <a href="Exact-interview.html"><button class="btn btn-success response">View
                                        Response</button></a>
                            </li>
                        </ul>
                    </li>
                    <li class="list-heading list-content responselist">
                        <ul>
                            <li>
                                <div class="team-thumb"></div>
                                <h4>Amanda Kherr
                                    <a href="#">angeljohnson@gmail.com</a></h4>
                            </li>
                            <li>Creative Department</li>
                            <li>Senior Designer</li>
                            <li>
                                <a href="Exact-interview.html"><button class="btn btn-success response">View
                                        Response</button></a>

                            </li>
                        </ul>
                    </li>
                    <li class="list-heading list-content responselist">
                        <ul>
                            <li>
                                <div class="team-thumb"></div>
                                <h4>Amanda Kherr
                                    <a href="#">angeljohnson@gmail.com</a></h4>
                            </li>
                            <li>Creative Department</li>
                            <li>Senior Designer</li>
                            <li>
                                <a href="Exact-interview.html"><button class="btn btn-success response">View
                                        Response</button></a>
                            </li>
                        </ul>
                    </li>
                    <li class="list-heading list-content responselist">
                        <ul>
                            <li>
                                <div class="team-thumb"></div>
                                <h4>Amanda Kherr
                                    <a href="#">angeljohnson@gmail.com</a></h4>
                            </li>
                            <li>Creative Department</li>
                            <li>Senior Designer</li>
                            <li>
                                <a href="Exact-interview.html"><button class="btn btn-success response">View
                                        Response</button></a>
                            </li>
                        </ul>
                    </li>
                    <li class="list-heading list-content responselist">
                        <ul>
                            <li>
                                <div class="team-thumb"></div>
                                <h4>Amanda Kherr
                                    <a href="#">angeljohnson@gmail.com</a></h4>
                            </li>
                            <li>Creative Department</li>
                            <li>Senior Designer</li>
                            <li>
                                <a href="Exact-interview.html"><button class="btn btn-success response">View
                                        Response</button></a>
                            </li>
                        </ul>
                    </li>
                    <li class="list-heading list-content responselist">
                        <ul>
                            <li>
                                <div class="team-thumb"></div>
                                <h4>Amanda Kherr
                                    <a href="#">angeljohnson@gmail.com</a></h4>
                            </li>
                            <li>Creative Department</li>
                            <li>Senior Designer</li>
                            <li>
                                <a href="Exact-interview.html"><button class="btn btn-success response">View
                                        Response</button></a>
                            </li>
                        </ul>
                    </li>
                    <li class="list-heading list-content responselist">
                        <ul>
                            <li>
                                <div class="team-thumb"></div>
                                <h4>Amanda Kherr
                                    <a href="#">angeljohnson@gmail.com</a></h4>
                            </li>
                            <li>Creative Department</li>
                            <li>Senior Designer</li>
                            <li>
                                <a href="Exact-interview.html"><button class="btn btn-success response">View
                                        Response</button></a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>