<div class="main-panel">
	<div class="content" style="background-color:#DAEBEB;">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-4">
					<div class="search-form">
						<i class="fa fa-search"></i>
						<input type="text" class="form-control" placeholder="Search by name" (input)="FilterData($event)">
					</div>
				</div>


			</div>
			<div class="emlist">
				<ul class="team-member team-listvew">
					<li class="list-heading">
						<ul>
							<li>
								Employee Name
							</li>
							<li>Department</li>
							<li>Designation </li>
							<li>Actions </li>
						</ul>
					</li>
					<li class="list-heading list-content" *ngFor="let data of SearchResults">
						<ul>
							<li>
								<div class="team-thumb"></div>
								<h4>{{data.employee.employeeFname+" "+data.employee.employeeMname}}
									<a href="#">{{data.employee.employeeEmail}}</a></h4>
							</li>
							<li>{{data.department.departmentName}}</li>
							<li>{{data.designation.designationName}}</li>
							<li>

								<i class="icon-View" *ngIf="userService.CheckPermission(userService.Elements.Employee,userService.Operations.View)" (click)="viewIconClicked(data.employee.employeeId)"></i>
								<i class="icon-edit" *ngIf="userService.CheckPermission(userService.Elements.Employee,userService.Operations.Edit)" (click)="editEmployeeIconClicked(data.employee.employeeId)"></i>
								<i style="background-color: #f7d0d0;color: #f90000;" class="icon-Delete" *ngIf="userService.CheckPermission(userService.Elements.Employee,userService.Operations.Delete)" (click)="deleteIconClicked(data)"></i>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
	<!-- <div class="slide-popup" id="task-description">
	<div class="slide-close">
		<i class="fa fa-angle-left" aria-hidden="true"></i>
	</div>
	<div class="slide-wrapper">
		<div class="slide-content">
			<h3>Create Team</h3>
			<form>
				<div class="form-group">
					<label for="">select project</label>
					<select name="" id="#" class="form-control">
						<option value="">Sim Project</option>
						<option value="">Sim Project</option>
						<option value="">Sim Project</option>
						<option value="">Sim Project</option>
						<option value="">Sim Project</option>
					</select>
				</div>
				<div class="form-group">
					<label for="">select team member</label>
					<div class="selectwith-button">
						<div class="custom-select-wrapper">
							<div class="custom-select">
								<div class="custom-select__trigger"><span>Amanda Kherr <b>Designer</b></span>
									<div class="arrow"></div>
								</div>
								<div class="custom-options">
									<span class="custom-option selected" data-value="tesla">Amanda Kherr
										<b>Designer</b></span>
									<span class="custom-option" data-value="volvo">Amanda Kherr2
										<b>Designer</b></span>
									<span class="custom-option" data-value="mercedes">Amanda Kherr3
										<b>Designer</b></span>
								</div>
							</div>
						</div>
						<button class="btn btn-primary">ADD</button>
					</div>
				</div>
				<div class="form-group">
					<ul class="selected-user">
						<li><span class="user-thumb"></span>
							<p>Amanda Kherr <b>Designer</b></p><i class="fa fa-times"></i>
						</li>
					</ul>
				</div>
				<input type="submit" value="Request feedback" class="btn btn-primary">
			</form>
		</div>
	</div>
</div> -->
