<div class="main-panel">
    <div class="content" style="background-color:#DAEBEB;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#feedback-request">Feedback Request</a></li>
                        <li><a data-toggle="tab" href="#my-feedback">My Feedback</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="feedback-request" class="tab-pane fade in active">
                            <div class="table-full-width">
                                <span class="light-text">You have {{GetRequestedCount()}} Feedback Request</span>
                                <ul class="feedback-list">
                                    <li *ngFor="let feedback of FeedbackList|dataFilter:'feedbackStatus':'1';let feedbackIndex=index">
                                        <div class="media">
                                            <div class="media-left">
                                                <a href="#">
                                                    <img class="media-object" src="assets/img/faces/face-3.jpg"
                                                        alt="...">
                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <h4 class="media-heading">{{feedback.name}}</h4>
                                                <p class="gray-text">{{feedback.designation}}</p>
                                                <p><a href="mailto:angeljohnson@gmail.com">{{feedback.emailId}}</a>
                                                </p>
                                                <input type="text" class="form-control" [ngModel]="feedback.taskId==null?getProjectName(feedback.projectId):getTaskName(feedback.taskId)"
                                                    disabled>
                                                <div class="form-section">
                                                    <div class="permission-section" style="margin: 10px 0 0 0;">
                                                        <div class="smily-section" *ngFor="let param of feedback.feedbackParameteres;let paramIndex=index">
                                                            <div class="rolesection">
                                                                <label for="" class="pull-left headtxtsimily">{{GetFeedbackParameterNames(param.paramId)}}</label>
                                                                <div class="material-switch marright">
                                                                    <span><img src="assets/img/Bed.png" (click)="param.rating=1" [style.opacity]="param.rating!=null && param.rating!=1?'20%':'100%'" ></span>
                                                                </div>
                                                                <div class="material-switch marright">
                                                                    <span><img src="assets/img/can-improve.png" (click)="param.rating=2" [style.opacity]="param.rating!=null && param.rating!=2?'20%':'100%'"></span>
                                                                </div>
                                                                <div class="material-switch marright">
                                                                    <span><img src="assets/img/Good.png" (click)="param.rating=3" [style.opacity]="param.rating!=null && param.rating!=3?'20%':'100%'"></span>
                                                                </div>
                                                                <div class="material-switch marright">
                                                                    <span><img src="assets/img/very-good.png" (click)="param.rating=4" [style.opacity]="param.rating!=null && param.rating!=4?'20%':'100%'"></span>
                                                                </div>
                                                                <div class="material-switch marright">
                                                                    <span><img src="assets/img/Excellent.png" (click)="param.rating=5" [style.opacity]="param.rating!=null && param.rating!=5?'20%':'100%'"></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="feedback-area">
                                                    <textarea class="form-control"
                                                        placeholder="Write your feedback here" [(ngModel)]="feedback.description"></textarea>
                                                    <div>
                                                        <div class="form-group">
                                                            <div class="checkbox">
                                                                <input id="checkbox1" type="checkbox" [(ngModel)]="feedback.blindRequest" >
                                                                <label for="checkbox1">Send as anonymous</label>
                                                            </div><br>

                                                        </div>
                                                        <input type="submit" value="Submit" class="btn btn-normal" (click)="SubmitFeedback(feedback,feedbackIndex)" >
                                                    </div>
                                                </div>
                                            </div>
                                            <span class="message-create"><i class="fa fa-comments-o"
                                                    aria-hidden="true"></i></span>
                                        </div>
                                    </li>
                                    <li *ngFor="let feedback of FeedbackList|dataFilter:'feedbackStatus':'2'">
                                      <!-- |dataFilter:'feedbackStatus':'2' -->
                                      <div class="media">
                                          <div class="media-left">
                                              <a href="#">
                                                  <img class="media-object" src="assets/img/faces/face-3.jpg"
                                                      alt="...">
                                              </a>
                                          </div>
                                          <div class="media-body">
                                              <h4 class="media-heading">{{feedback.name}}</h4>
                                              <p class="gray-text">{{feedback.designation}}</p>
                                              <p><a href="mailto:angeljohnson@gmail.com">{{feedback.emailId}}</a>
                                              </p>
                                              <input type="text" class="form-control" [ngModel]="feedback.taskId==null?getProjectName(feedback.projectId):getTaskName(feedback.taskId)"
                                                  disabled>
                                              <div class="form-section">
                                                  <div class="permission-section" style="margin: 10px 0 0 0;">
                                                      <div class="smily-section" *ngFor="let param of feedback.feedbackParameteres;let paramIndex=index">
                                                          <div class="rolesection">
                                                              <label for="" class="pull-left headtxtsimily">{{GetFeedbackParameterNames(param.paramId)}}</label>
                                                              <div class="material-switch marright">
                                                                  <span><img src="assets/img/Bed.png" *ngIf="param.rating==1" ></span>
                                                              </div>
                                                              <div class="material-switch marright">
                                                                  <span><img src="assets/img/can-improve.png" *ngIf="param.rating==2"></span>
                                                              </div>
                                                              <div class="material-switch marright">
                                                                  <span><img src="assets/img/Good.png" *ngIf="param.rating==3"></span>
                                                              </div>
                                                              <div class="material-switch marright">
                                                                  <span><img src="assets/img/very-good.png" *ngIf="param.rating==4"></span>
                                                              </div>
                                                              <div class="material-switch marright">
                                                                  <span><img src="assets/img/Excellent.png" *ngIf="param.rating==5"></span>
                                                              </div>
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                              <div class="feedback-area">
                                                  <textarea class="form-control"
                                                      placeholder="Write your feedback here" [(ngModel)]="feedback.description" disabled></textarea>
                                                  <!-- <div>
                                                      <div class="form-group">
                                                          <div class="checkbox">
                                                              <input id="checkbox1" type="checkbox" [(ngModel)]="feedback.blindRequest" >
                                                              <label for="checkbox1">Send as anonymous</label>
                                                          </div><br>
                                                          <input type="submit" name="submit" value="Login"
                                                              class="btn btn-primary">
                                                      </div>
                                                      <input type="submit" value="Submit" class="btn btn-normal" (click)="SubmitFeedback(feedback)" >
                                                  </div> -->
                                              </div>
                                          </div>
                                          <span class="message-create"><i class="fa fa-comments-o"
                                                  aria-hidden="true"></i></span>
                                      </div>
                                  </li>
                                  <li *ngFor="let feedback of FeedbackList|dataFilter:'feedbackStatus':'3'">
                                    <!-- |dataFilter:'feedbackStatus':'2' -->
                                    <div class="media">
                                        <div class="media-left">
                                            <a href="#">
                                                <img class="media-object" src="assets/img/faces/face-3.jpg"
                                                    alt="...">
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <h4 class="media-heading">{{feedback.name}}</h4>
                                            <p class="gray-text">{{feedback.designation}}</p>
                                            <p><a href="mailto:angeljohnson@gmail.com">{{feedback.emailId}}</a>
                                            </p>
                                            <input type="text" class="form-control" [ngModel]="feedback.taskId==null?getProjectName(feedback.projectId):getTaskName(feedback.taskId)"
                                                disabled>
                                            <div class="form-section">
                                                <div class="permission-section" style="margin: 10px 0 0 0;">
                                                    <div class="smily-section" *ngFor="let param of feedback.feedbackParameteres;let paramIndex=index">
                                                        <div class="rolesection">
                                                            <label for="" class="pull-left headtxtsimily">{{GetFeedbackParameterNames(param.paramId)}}</label>
                                                            <div class="material-switch marright">
                                                                <span><img src="assets/img/Bed.png" *ngIf="param.rating==1" ></span>
                                                            </div>
                                                            <div class="material-switch marright">
                                                                <span><img src="assets/img/can-improve.png" *ngIf="param.rating==2"></span>
                                                            </div>
                                                            <div class="material-switch marright">
                                                                <span><img src="assets/img/Good.png" *ngIf="param.rating==3"></span>
                                                            </div>
                                                            <div class="material-switch marright">
                                                                <span><img src="assets/img/very-good.png" *ngIf="param.rating==4"></span>
                                                            </div>
                                                            <div class="material-switch marright">
                                                                <span><img src="assets/img/Excellent.png" *ngIf="param.rating==5"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="feedback-area">
                                                <textarea class="form-control"
                                                    placeholder="Write your feedback here" [(ngModel)]="feedback.description" disabled></textarea>
                                                <!-- <div>
                                                    <div class="form-group">
                                                        <div class="checkbox">
                                                            <input id="checkbox1" type="checkbox" [(ngModel)]="feedback.blindRequest" >
                                                            <label for="checkbox1">Send as anonymous</label>
                                                        </div><br>
                                                        <input type="submit" name="submit" value="Login"
                                                            class="btn btn-primary">
                                                    </div>
                                                    <input type="submit" value="Submit" class="btn btn-normal" (click)="SubmitFeedback(feedback)" >
                                                </div> -->
                                            </div>
                                        </div>
                                        <span class="message-create"><i class="fa fa-comments-o"
                                                aria-hidden="true"></i></span>
                                    </div>
                                </li>
                                </ul>
                            </div>
                        </div>

                        <!-- Pane 2 ###############################################################################################-->
                        <div id="my-feedback" class="tab-pane fade">
                            <div class="table-full-width">
                                <span class="light-text"></span>
                                <ul class="feedback-list">
                                    <li *ngFor="let data of MyFeedbackList">
                                        <div class="media">
                                            <div class="media-left">
                                                <a href="#">
                                                    <img class="media-object" src="assets/img/faces/face-1.jpg"
                                                        alt="...">
                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <h4 class="media-heading">{{GetEmployeeEmailBasedOnId(data.feedbackFromId)}}</h4>
                                                        <p class="gray-text">{{getDesignationNameForEmployee(data.feedbackFromId)}}</p>
                                                        <p><a
                                                                href="mailto:angeljohnson@gmail.com">{{GetEmployeeEmailBasedOnId(data.feedbackFromId)}}</a>
                                                        </p>
                                                    </div>
                                                    <div class="col-md-7">
                                                        <p>{{data.description}}</p>
                                                    </div>
                                                    <div class="permission-section">
                                                        <div class="smily-section" *ngFor="let element of data.feedbackParameteres">
                                                            <div class="rolesection">
                                                                <label for="" class="pull-left headtxtsimily">{{GetFeedbackParameterNames(element.paramId)}}</label>

                                                                    <div class="material-switch marright">
                                                                      <span><img src="assets/img/Bed.png"  *ngIf="element.rating==1"></span>
                                                                  </div>
                                                                  <div class="material-switch marright">
                                                                      <span><img src="assets/img/can-improve.png" *ngIf="element.rating==2"></span>
                                                                  </div>
                                                                  <div class="material-switch marright">
                                                                      <span><img src="assets/img/Good.png" *ngIf="element.rating==3"></span>
                                                                  </div>

                                                                  <div class="material-switch marright">
                                                                      <span><img src="assets/img/very-good.png" *ngIf="element.rating==4"></span>
                                                                  </div>
                                                                  <div class="material-switch marright">
                                                                      <span><img src="assets/img/Excellent.png" *ngIf="element.rating==5"></span>
                                                                  </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="feedback-area" *ngIf="data.feedbackStatus==2">
                                                  <textarea class="form-control" [(ngModel)]="data.feedbackReply"
                                                      placeholder="Write your feedback here"></textarea>
                                                  <input type="submit" value="Submit" class="btn btn-normal" (click)="SubmitFeedbackReply(data)" >
                                              </div>

                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                </div>
            </div>
        </div>
    </div>

</div>
