<div class="main-panel">
    <div class="content" style="background-color:#DAEBEB;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#feedback-request">Feedback Request</a></li>
                        <li><a data-toggle="tab" href="#my-feedback">My Feedback</a></li>
                         <li><a data-toggle="tab" href="#requested-feedback">Requested Feedback</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="feedback-request" class="tab-pane fade in active">
                            <div class="table-full-width">
                                <span class="light-text">You have 2 Feedback Request</span>
                                <ul class="feedback-list">
                                    <li>
                                        <div class="media">
                                            <div class="media-left">
                                                <a href="#">
                                                    <img class="media-object" src="assets/img/faces/face-1.jpg" alt="...">
                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <h4 class="media-heading">Amanda Kherr</h4>
                                                <p class="gray-text">Designer</p>
                                                <p><a href="mailto:angeljohnson@gmail.com">angeljohnson@gmail.com</a></p>
                                            </div>
                                        </div>
                                        <span class="message-create"><i class="fa fa-comments-o" aria-hidden="true"></i></span>
                                    </li>
                                    <li>
                                        <div class="media">
                                            <div class="media-left">
                                                <a href="#">
                                                    <img class="media-object" src="assets/img/faces/face-2.jpg" alt="...">
                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <h4 class="media-heading">Amanda Kherr</h4>
                                                <p class="gray-text">HR Manager - Recruitment - Dept of Human Resources</p>
                                                <p><a href="mailto:angeljohnson@gmail.com">angeljohnson@gmail.com</a></p>
                                            </div>
                                        </div>
                                        <span class="message-create"><i class="fa fa-comments-o" aria-hidden="true"></i></span>
                                    </li>
                                    <li>
                                        <div class="media">
                                            <div class="media-left">
                                                <a href="#">
                                                    <img class="media-object" src="assets/img/faces/face-3.jpg" alt="...">
                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <h4 class="media-heading">Amanda Kherr</h4>
                                                <p class="gray-text">Designer</p>
                                                <p><a href="mailto:angeljohnson@gmail.com">angeljohnson@gmail.com</a></p>
                                                <div class="goal-select">
                                                    <select class="form-control">
                                                        <option value="">Select Goal/Project</option>
                                                        <option value="">Project1</option>
                                                        <option value="">Project2</option>
                                                        <option value="">Project3</option>
                                                    </select>
                                                </div>
                                                <div class="feedback-area">
                                                    <textarea class="form-control" placeholder="Write your feedback here"></textarea>
                                                    <div>
                                                        <div class="feedback-emoji" style="background-color: #007775; color: white;">
                                                        
                                                         <span><img src="assets/img/Excellent.png"></span>Excellent
                                                        
                                                        </div>
                                                        <div class="feedback-emoji vgood">
                                                        
                                                         <span><img src="assets/img/very-good.png"></span>Very good
                                                        
                                                        </div>
                                                        <div class="feedback-emoji g-good selected">
                                                        
                                                         <span><img src="assets/img/Good.png"></span>Good
                                                        
                                                        </div>
                                                        <div class="feedback-emoji c-imrove" style="background-color: #f9ae04; color: white;">
                                                         <span><img src="assets/img/can-improve.png"></span>Can improve
                                                        </div>
                                                        <div class="feedback-emoji b-bed" style="background-color: #f50404;color: white;">
                                                         <span><img src="assets/img/Bed.png"></span>Bed
                                                        </div>
                                                    
                                                    <input type="submit" value="Submit" class="btn btn-normal"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <span class="message-create"><i class="fa fa-comments-o" aria-hidden="true"></i></span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div id="my-feedback" class="tab-pane fade">
                            <div class="table-full-width">
                                <span class="light-text">You have 2 Feedback Request</span>
                                <ul class="feedback-list">
                                    <li>
                                        <div class="media">
                                            <div class="media-left">
                                                <a href="#">
                                                    <img class="media-object" src="assets/img/faces/face-1.jpg" alt="...">
                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <h4 class="media-heading">Angel Johnson</h4>
                                                        <p class="gray-text">Director - HR</p>
                                                        <p><a href="mailto:angeljohnson@gmail.com">angeljohnson@gmail.com</a></p>
                                                    </div>
                                                    <div class="col-md-7">
                                                        <p>Arthur is a creative and result oriented designer. She meets
                                                            deadlines and learn things very fast. I hope she will achieve a great career in UI-UX field and become an asset for any team/organisation. Best wishes for future.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <span class="message-create"><i class="fa fa-comments-o" aria-hidden="true"></i></span>
                                    </li>
                                    <li>
                                        <div class="media">
                                            <div class="media-left">
                                                <a href="#">
                                                    <img class="media-object" src="assets/img/faces/face-2.jpg" alt="...">
                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <h4 class="media-heading">Rebecca Biaggio</h4>
                                                        <p class="gray-text">HR Manager - Recruitment - Dept of Human Resources</p>
                                                        <p><a href="mailto:angeljohnson@gmail.com">angeljohnson@gmail.com</a></p>
                                                    </div>
                                                    <div class="col-md-7">
                                                        <p>Arthur is a creative and result oriented designer. She meets
                                                            deadlines and learn things very fast. I hope she will achieve a great career in UI-UX field and become an asset for any team/organisation. Best wishes for future.</p>
                                                    </div>
                                                </div>
                                                <div class="feedback-area">
                                                    <textarea class="form-control" placeholder="Write your feedback here"></textarea>
                                                    <input type="submit" value="Submit" class="btn btn-normal">
                                                </div>
                                            </div>
                                        </div>
                                        <span class="message-create"><i class="fa fa-comments-o" aria-hidden="true"></i></span>
                                    </li>
                                    <li>
                                        <div class="media">
                                            <div class="media-left">
                                                <a href="#">
                                                    <img class="media-object" src="assets/img/faces/face-3.jpg" alt="...">
                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <h4 class="media-heading">Amanda Kherr</h4>
                                                        <p class="gray-text">Designer</p>
                                                        <p><a href="mailto:angeljohnson@gmail.com">angeljohnson@gmail.com</a></p>
                                                    </div>
                                                    <div class="col-md-7">
                                                        <p>Arthur is a creative and result oriented designer. She meets deadlines and learn things very fast. I hope she will achieve a great career in UI-UX field and become an asset for any team/organisation. Best wishes for future.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <span class="message-create"><i class="fa fa-comments-o" aria-hidden="true"></i></span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                            <div id="requested-feedback" class="tab-pane fade">
                            <div class="table-full-width">
                            <div class="clearfix">
                            <ul class="team-member">
                            <li class="feedback-width">
                            <div class="team-thumb">
                            </div>
                            <h4>Amanda Kherr <strong>Designer</strong></h4>
                            <a href="#">angeljohnson@gmail.com</a>
                            <button class="btn btn-success color-green">View feedback</button>
                            </li>
                            <li class="feedback-width disfeedback">
                            <div class="team-thumb">
                            </div>
                            <h4>Amanda Kherr <strong>Designer</strong></h4>
                            <a href="#">angeljohnson@gmail.com</a>
                            <button class="btn btn-success">View feedback</button>
                            </li>
                                <li class="feedback-width disfeedback">
                            <div class="team-thumb">
                            </div>
                            <h4>Amanda Kherr <strong>Designer</strong></h4>
                            <a href="#">angeljohnson@gmail.com</a>
                            <button class="btn btn-success">View feedback</button>
                            </li>
                            <li class="feedback-width disfeedback">
                            <div class="team-thumb">
                            </div>
                            <h4>Amanda Kherr <strong>Designer</strong></h4>
                            <a href="#">angeljohnson@gmail.com</a>
                            <button class="btn btn-success">View feedback</button>
                            </li>
                            
                            </ul>
                                </div>
                            
                            
                            
                            
                            
                            
                            <div class="header">
                            <h4 class="title">Feedback Received to Amanda Kherr</h4>
                        </div>
                              <ul class="feedback-list">
                                    <li>
                                        <div class="media">
                                            <div class="media-left">
                                                <a href="#">
                                                    <img class="media-object" src="assets/img/faces/face-1.jpg" alt="...">
                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <h4 class="media-heading">Angel Johnson</h4>
                                                        <p class="gray-text">Director - HR</p>
                                                        <p><a href="mailto:angeljohnson@gmail.com">angeljohnson@gmail.com</a></p>
                                                    </div>
                                                    <div class="col-md-7">
                                                        <p>Arthur is a creative and result oriented designer. She meets
                                                            deadlines and learn things very fast. I hope she will achieve a great career in UI-UX field and become an asset for any team/organisation. Best wishes for future.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                      </li>
                                    <li>
                                        <div class="media">
                                            <div class="media-left">
                                                <a href="#">
                                                    <img class="media-object" src="assets/img/faces/face-2.jpg" alt="...">
                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <h4 class="media-heading">Rebecca Biaggio</h4>
                                                        <p class="gray-text">HR Manager - Recruitment - Dept of Human Resources</p>
                                                        <p><a href="mailto:angeljohnson@gmail.com">angeljohnson@gmail.com</a></p>
                                                    </div>
                                                    <div class="col-md-7">
                                                        <p>Arthur is a creative and result oriented designer. She meets
                                                            deadlines and learn things very fast. I hope she will achieve a great career in UI-UX field and become an asset for any team/organisation. Best wishes for future.</p>
                                                    </div>
                                                </div>
                                              </div>
                                        </div>
                                        </li>
                                    <li>
                                        <div class="media">
                                            <div class="media-left">
                                                <a href="#">
                                                    <img class="media-object" src="assets/img/faces/face-3.jpg" alt="...">
                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <h4 class="media-heading">Amanda Kherr</h4>
                                                        <p class="gray-text">Designer</p>
                                                        <p><a href="mailto:angeljohnson@gmail.com">angeljohnson@gmail.com</a></p>
                                                    </div>
                                                    <div class="col-md-7">
                                                        <p>Arthur is a creative and result oriented designer. She meets
                                                            deadlines and learn things very fast. I hope she will achieve a great career in UI-UX field and become an asset for any team/organisation. Best wishes for future.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                       </li>
                                </ul>
                            </div>
                        </div>
                        
                        
                    </div>
                </div>
                <div class="col-md-3">
                </div>
            </div>
        </div>
    </div>
    
</div>